node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

build

*.log
*.tmp
*.bak
*.swp

.DS_Store
Thumbs.db
.vscode
.idea
*.sublime-workspace
*.sublime-project

coverage
*.test.js
*.test.ts

.dockerignore
Dockerfile

.git
.gitignore
